In [23]:
import matplotlib
import pandas as pd
import requests
import io
import numpy as np
import matplotlib.pyplot as plt
import math
import datetime
import re
from datetime import datetime


%matplotlib inline
    


%matplotlib inline
url1 = "https://raw.githubusercontent.com/docju/datasciencecapstone/main/results.csv"
download1 = requests.get(url1).content

df = pd.read_csv(io.StringIO(download1.decode('ISO-8859-1')))
df['date']=pd.to_datetime(df['DateTime'])
df['outcome']=df['FTHG']-df['FTAG']

def result(n):
    if n >0:
        res=4
    if n==0:
        res=2
    if n<0:
        res=1
    return res

df['result']=df.apply(lambda x: result(x['outcome']),axis=1)
all_results=df[['Season','date','HomeTeam','AwayTeam','FTHG','FTAG','outcome','result']][~df['Season'].isin(['2020-21','2021-22'])]

print(all_results.head())

    Season       date     HomeTeam        AwayTeam  FTHG  FTAG  outcome  \
0  1993-94 1993-08-14      Arsenal        Coventry     0     3       -3
1  1993-94 1993-08-14  Aston Villa             QPR     4     1        3
2  1993-94 1993-08-14      Chelsea       Blackburn     1     2       -1
3  1993-94 1993-08-14    Liverpool  Sheffield Weds     2     0        2
4  1993-94 1993-08-14     Man City           Leeds     1     1        0

   result
0       1
1       4
2       1
3       4
4       2

In [24]:
def split_season_train_test (season,test,input_df=all_results):
    '''
    This function takes data from a particular season and splits it into training and test samples
    
    INPUT:
    input_df - (dataframe) input matrix containing results of all seasons
    season - (string) season to split
    test - (int) number of rows that constitute the test data frame
    
    OUTPUT:
    season_train - (dataframe) a dataframe containing only the non-test rows
    season_test - (dataframe) a dataframe containing the test rows
    '''
    train=input_df[input_df['Season']==season].shape[0]-test
    season_train=input_df[input_df['Season']==season].copy().head(train)
    season_test=input_df[input_df['Season']==season].copy().tail(test)

    return season_train, season_test

train,test=split_season_train_test('2007-08',92)
print(test)

       Season       date       HomeTeam       AwayTeam  FTHG  FTAG  outcome  \
5772  2007-08 2008-03-15        Arsenal  Middlesbrough     1     1        0
5773  2007-08 2008-03-15          Derby     Man United     0     1       -1
5774  2007-08 2008-03-15      Liverpool        Reading     2     1        1
5775  2007-08 2008-03-15     Portsmouth    Aston Villa     2     0        2
5776  2007-08 2008-03-15     Sunderland        Chelsea     0     1       -1
5777  2007-08 2008-03-15       West Ham      Blackburn     2     1        1
5778  2007-08 2008-03-16         Fulham        Everton     1     0        1
5779  2007-08 2008-03-16       Man City      Tottenham     2     1        1
5780  2007-08 2008-03-16          Wigan         Bolton     1     0        1
5781  2007-08 2008-03-17     Birmingham      Newcastle     1     1        0
5782  2007-08 2008-03-19     Man United         Bolton     2     0        2
5783  2007-08 2008-03-19      Tottenham        Chelsea     4     4        0
5784  2007-08 2008-03-22    Aston Villa     Sunderland     0     1       -1
5785  2007-08 2008-03-22      Blackburn          Wigan     3     1        2
5786  2007-08 2008-03-22         Bolton       Man City     0     0        0
5787  2007-08 2008-03-22        Everton       West Ham     1     1        0
5788  2007-08 2008-03-22  Middlesbrough          Derby     1     0        1
5789  2007-08 2008-03-22      Newcastle         Fulham     2     0        2
5790  2007-08 2008-03-22        Reading     Birmingham     2     1        1
5791  2007-08 2008-03-22      Tottenham     Portsmouth     2     0        2
5792  2007-08 2008-03-23        Chelsea        Arsenal     2     1        1
5793  2007-08 2008-03-23     Man United      Liverpool     3     0        3
5794  2007-08 2008-03-29     Birmingham       Man City     3     1        2
5795  2007-08 2008-03-29         Bolton        Arsenal     2     3       -1
5796  2007-08 2008-03-29          Derby         Fulham     2     2        0
5797  2007-08 2008-03-29     Man United    Aston Villa     4     0        4
5798  2007-08 2008-03-29     Portsmouth          Wigan     2     0        2
5799  2007-08 2008-03-29        Reading      Blackburn     0     0        0
5800  2007-08 2008-03-29     Sunderland       West Ham     2     1        1
5801  2007-08 2008-03-30        Chelsea  Middlesbrough     1     0        1
...       ...        ...            ...            ...   ...   ...      ...
5834  2007-08 2008-04-26     Birmingham      Liverpool     2     2        0
5835  2007-08 2008-04-26        Chelsea     Man United     2     1        1
5836  2007-08 2008-04-26       Man City         Fulham     2     3       -1
5837  2007-08 2008-04-26     Sunderland  Middlesbrough     3     2        1
5838  2007-08 2008-04-26      Tottenham         Bolton     1     1        0
5839  2007-08 2008-04-26       West Ham      Newcastle     2     2        0
5840  2007-08 2008-04-26          Wigan        Reading     0     0        0
5841  2007-08 2008-04-27        Everton    Aston Villa     2     2        0
5842  2007-08 2008-04-27     Portsmouth      Blackburn     0     1       -1
5843  2007-08 2008-04-28          Derby        Arsenal     2     6       -4
5844  2007-08 2008-05-03    Aston Villa          Wigan     0     2       -2
5845  2007-08 2008-05-03      Blackburn          Derby     3     1        2
5846  2007-08 2008-05-03         Bolton     Sunderland     2     0        2
5847  2007-08 2008-05-03         Fulham     Birmingham     2     0        2
5848  2007-08 2008-05-03     Man United       West Ham     4     1        3
5849  2007-08 2008-05-03  Middlesbrough     Portsmouth     2     0        2
5850  2007-08 2008-05-03        Reading      Tottenham     0     1       -1
5851  2007-08 2008-05-04        Arsenal        Everton     1     0        1
5852  2007-08 2008-05-04      Liverpool       Man City     1     0        1
5853  2007-08 2008-05-05      Newcastle        Chelsea     0     2       -2
5854  2007-08 2008-05-11     Birmingham      Blackburn     4     1        3
5855  2007-08 2008-05-11        Chelsea         Bolton     1     1        0
5856  2007-08 2008-05-11          Derby        Reading     0     4       -4
5857  2007-08 2008-05-11        Everton      Newcastle     3     1        2
5858  2007-08 2008-05-11  Middlesbrough       Man City     8     1        7
5859  2007-08 2008-05-11     Portsmouth         Fulham     0     1       -1
5860  2007-08 2008-05-11     Sunderland        Arsenal     0     1       -1
5861  2007-08 2008-05-11      Tottenham      Liverpool     0     2       -2
5862  2007-08 2008-05-11       West Ham    Aston Villa     2     2        0
5863  2007-08 2008-05-11          Wigan     Man United     0     2       -2

      result
5772       2
5773       1
5774       4
5775       4
5776       1
5777       4
5778       4
5779       4
5780       4
5781       2
5782       4
5783       2
5784       1
5785       4
5786       2
5787       2
5788       4
5789       4
5790       4
5791       4
5792       4
5793       4
5794       4
5795       1
5796       2
5797       4
5798       4
5799       2
5800       4
5801       4
...      ...
5834       2
5835       4
5836       1
5837       4
5838       2
5839       2
5840       2
5841       2
5842       1
5843       1
5844       1
5845       4
5846       4
5847       4
5848       4
5849       4
5850       1
5851       4
5852       4
5853       1
5854       4
5855       2
5856       1
5857       4
5858       4
5859       1
5860       1
5861       1
5862       2
5863       1

[92 rows x 8 columns]

In [5]:
df2=covid_season_pre_break.copy()
output = np.asmatrix(df2.groupby(['HomeTeam', 'AwayTeam'])['outcome'].max().unstack())

df3=covid_season_post_break.copy()
output_post = np.asmatrix(df3.groupby(['HomeTeam', 'AwayTeam'])['outcome'].max().unstack())

In [51]:
def result_1(n):
    if n >0:
        res=3
    if n==0:
        res=1
    if n<0:
        res=0
    return res

def table_create(season, input=all_results):
    period=all_results[all_results['Season']==season].copy()
    period['home_points']=period.apply(lambda x: result_1(x['outcome']),axis=1)
    period['away_points']=period.apply(lambda x: result_1(-1*x['outcome']),axis=1)
    period['home_gd']=period['outcome']
    period['away_gd']=-1*period['outcome']
    home_sum=period.groupby('HomeTeam').sum()['home_points']
    away_sum=period.groupby('AwayTeam').sum()['away_points']
    home_gd=period.groupby('HomeTeam').sum()['home_gd']
    away_gd=period.groupby('AwayTeam').sum()['away_gd']
    home_goals=period.groupby('HomeTeam').sum()['FTHG']
    away_goals=period.groupby('AwayTeam').sum()['FTAG']
    points_total=pd.concat([home_sum,away_sum, home_gd,away_gd,home_goals,away_goals],axis=1)
    points_total.index.name='Team'
    points_total=points_total.reset_index()
    points_total['GF']=points_total['FTHG']+points_total['FTAG']
    points_total['GD']=points_total['home_gd']+points_total['away_gd']
    points_total['Points']=points_total['home_points']+points_total['away_points']
    points_total=points_total[['Team','Points','GD','GF']].sort_values(['Points','GD','GF','Team'],ascending=[False,False,False,True])   
    
    return points_total

table_create('2008-09')

             Team  Points  GD  GF
10     Man United      90  44  68
8       Liverpool      86  50  77
4         Chelsea      83  44  68
0         Arsenal      72  31  68
5         Everton      63  18  55
1     Aston Villa      62   6  54
6          Fulham      53   5  39
16      Tottenham      51   0  45
18       West Ham      51  -3  42
9        Man City      50   8  58
19          Wigan      45 -11  34
14          Stoke      45 -17  38
3          Bolton      41 -12  41
13     Portsmouth      41 -19  38
2       Blackburn      41 -20  40
15     Sunderland      36 -20  34
7            Hull      35 -25  39
12      Newcastle      34 -19  40
11  Middlesbrough      32 -29  28
17      West Brom      32 -31  36

In [172]:
def FunkSVD(ratings_mat, latent_features=4, learning_rate=0.0001, iters=500):
    '''
    This function performs matrix factorization using a basic form of FunkSVD with no regularization
    
    INPUT:
    ratings_mat - (numpy array) a matrix with users as rows, movies as columns, and ratings as values
    latent_features - (int) the number of latent features used
    learning_rate - (float) the learning rate 
    iters - (int) the number of iterations
    
    OUTPUT:
    user_mat - (numpy array) a user by latent feature matrix
    movie_mat - (numpy array) a latent feature by movie matrix
    '''
    
    # Set up useful values to be used through the rest of the function
    n_users = ratings_mat.shape[0]
    n_movies = ratings_mat.shape[1]
    num_ratings = np.count_nonzero(~np.isnan(ratings_mat)) #-n_users
    
    # initialize the user and movie matrices with random values
    home_mat = np.random.rand(n_users, latent_features)
    away_mat = np.random.rand(latent_features, n_movies)
    
    # initialize sse at 0 for first iteration
    sse_accum = 0
    
    # header for running results
    print("Optimizaiton Statistics")
    print("Iterations | Mean Squared Error ")
    #print(home_mat)
    #print(away_mat)
    # for each iteration
    for iteration in range(iters):

        # update our sse
        old_sse = sse_accum
        sse_accum = 0
        
        # For each user-movie pair
        for i in range(n_users):
            for j in range(n_movies):
 
                
                # if the rating exists
                if pd.isna(ratings_mat[i,j]) is False:
                    
                    # compute the error as the actual minus the dot product of the user and movie latent features
                    diff = ratings_mat[i, j] - np.dot(home_mat[i, :], away_mat[:, j])
                    
                    # Keep track of the sum of squared errors for the matrix
                    sse_accum += diff**2
                    
                    # update the values in each matrix in the direction of the gradient
                    for k in range(latent_features):
                        home_mat[i, k] += learning_rate * (2*diff*away_mat[k, j])
                        away_mat[k, j] += learning_rate * (2*diff*home_mat[i, k])

        # print results for iteration
        if iteration in {0,1,iters-1}:
            print("%d \t\t %f" % (iteration+1, sse_accum / num_ratings))
        
    return home_mat, away_mat

In [180]:
home_mat,away_mat=FunkSVD(output,latent_features=10,learning_rate=0.005, iters=500)

Optimizaiton Statistics
Iterations | Mean Squared Error
1 		 6.504899
2 		 4.163364
500 		 0.004662

In [187]:
print(np.dot(home_mat, away_mat)-output_post)

[[             nan              nan              nan              nan
               nan              nan              nan              nan
   -2.02395742e+00  -2.15967040e+00              nan              nan
               nan  -1.66509454e+00              nan              nan
               nan  -2.28035438e+00              nan              nan]
 [ -3.22473242e+00              nan              nan              nan
               nan   7.29416133e-01  -1.59648762e+00              nan
               nan              nan              nan   2.22242431e+00
               nan              nan  -6.25244831e-01              nan
               nan              nan              nan   3.43193038e-01]
 [             nan              nan              nan              nan
               nan              nan   7.89430244e+00              nan
   -1.30497962e+01              nan              nan              nan
    1.29201326e+01              nan              nan  -3.47757969e+00
    3.41390950e+00              nan              nan              nan]
 [ -1.08983114e+00              nan              nan              nan
               nan              nan              nan              nan
               nan   5.14257096e-01   1.98938513e+00   2.97530129e+00
    2.74953799e+00              nan              nan              nan
               nan              nan              nan              nan]
 [             nan              nan              nan   2.42256430e+00
               nan              nan              nan              nan
               nan              nan              nan              nan
               nan              nan  -2.76411344e+00              nan
               nan   1.64216563e+00              nan  -4.80951388e-01]
 [             nan              nan              nan              nan
               nan              nan              nan              nan
               nan              nan  -4.01872659e+00              nan
               nan   1.37196672e+00              nan              nan
               nan  -2.78609571e+00              nan  -3.57893680e+00]
 [             nan              nan              nan              nan
    8.78515505e-01  -4.83025652e-01              nan              nan
               nan              nan              nan   2.46090307e+00
               nan              nan              nan              nan
    1.31224940e+00              nan              nan              nan]
 [             nan  -1.33597487e-01   5.50844035e+00              nan
               nan              nan              nan              nan
   -5.03221441e+00  -2.45683504e+00              nan              nan
               nan              nan              nan   2.86228362e-01
               nan              nan              nan              nan]
 [             nan              nan              nan   2.28091535e+00
               nan              nan   3.42335515e+00              nan
               nan              nan              nan   2.73004539e+00
               nan              nan  -3.49285912e+00              nan
               nan              nan              nan              nan]
 [             nan   3.41040233e+00              nan              nan
    2.26812910e+00   9.10758606e-02  -4.91382036e-01              nan
               nan              nan              nan              nan
               nan              nan              nan              nan
               nan              nan              nan              nan]
 [ -7.89922643e-01              nan  -5.27753396e+00              nan
   -2.50348455e+00              nan              nan              nan
               nan  -5.62606567e+00              nan              nan
   -7.47576254e+00   2.45294896e+00              nan              nan
               nan              nan              nan              nan]
 [             nan              nan  -5.69159727e+00              nan
               nan              nan              nan              nan
               nan              nan              nan              nan
               nan              nan   7.23472582e-03   1.46900536e+00
               nan              nan   2.40141639e-01              nan]
 [             nan  -1.25160925e+00              nan              nan
               nan              nan              nan              nan
               nan  -2.24384181e-01              nan              nan
               nan              nan  -3.05410602e+00              nan
    9.21751210e-01              nan   2.36866594e+00              nan]
 [             nan              nan              nan   1.53771450e+00
    1.77529060e+00              nan              nan   9.69156754e-01
               nan              nan              nan              nan
               nan              nan              nan   4.19334586e+00
               nan              nan   4.38767374e+00              nan]
 [             nan              nan              nan              nan
               nan  -5.21743784e+00              nan   1.26062636e+00
               nan              nan              nan              nan
               nan              nan              nan              nan
   -1.96548593e+00              nan              nan  -1.30057636e+00]
 [  8.27532386e-01              nan              nan   3.15782394e-01
               nan              nan              nan              nan
               nan              nan  -7.43634150e+00              nan
               nan              nan  -3.99798377e+00              nan
               nan              nan              nan              nan]
 [  1.61637436e+00              nan              nan              nan
               nan              nan              nan   9.82443691e-01
   -1.93459320e+00              nan              nan  -9.23372291e-01
               nan              nan              nan              nan
               nan              nan  -1.00055803e+00              nan]
 [             nan              nan              nan              nan
               nan              nan              nan              nan
   -1.61172581e+00              nan   4.57610254e+00              nan
   -1.81480021e+00  -3.70263650e+00              nan   2.73816724e-01
               nan              nan              nan              nan]
 [             nan   5.57080769e-01              nan              nan
    4.14867862e+00   3.34421212e+00              nan              nan
               nan              nan              nan              nan
               nan              nan              nan              nan
               nan   8.32898442e-02              nan   4.33099553e+00]
 [  2.62413019e+00              nan  -2.93914236e+00              nan
               nan              nan  -3.23850064e+00  -4.06619011e+00
               nan              nan              nan              nan
               nan              nan              nan              nan
               nan              nan              nan              nan]]